@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #59514E;
}

.img-logo {
    filter: invert(13%) sepia(9%) saturate(386%) hue-rotate(314deg) brightness(93%) contrast(93%);
    position: absolute;
    top: 20%;
    right: 45%;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    width: 50%;
    top: 50%;
    position: absolute;
}

.search_box input[type="text"]{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    outline: none;
    margin-bottom: 5px;
}

::-webkit-input-placeholder {
    color: #8C8886
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 25px;
    color: #2A2626;
    cursor: pointer;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
border: 1px solid rgb(108, 99, 95);
margin-top: -1px;
background-color: rgb(125, 114, 110);
padding: 12px;
text-decoration: none;
font-size: 18px;
color: black;
display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 767px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
display: block;
}

ul {
padding: 0;
list-style-type: none;
}

#myUL li a:hover:not(.header) {
background-color: #eee;
}

@media screen and (max_width: 425px){
.search_box{
    width: 95%;
}
.dropdown-content {
    width: 95%;
}
}